{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<p> Hello, {{ user.username }}! </p>
	<p> Today is </p>
	<p><a href="{% url 'logout' %}">Log out</a></p>
	<p> View <a href="{% url 'myBinder' %}"> My Binder </a></p>
	{% if user.is_staff %}
		<p> Enter <a href="{% url 'gradeView' %}"> Grade View </a></p>
	{% endif %}
	
{% else %}
	<p> You are not logged in! </p>
	<a href="{% url 'login' %}">Log-in</a>
	<p> Forgot password? </p>
	<p> Or you can register an account! </p>
	<a href="{% url 'register_user' %}">Register</a>
{% endif %}
{% endblock %}
