{% extends 'base.html' %}
{% block title%} My Binder {% endblock %}
{% load static %}
{% block content %}
<h2> My Binder </h2>
<table class= = "myBinderTable">
    <tr>
        <th>Assignment</th>
        <th>Date Uploaded</th>
        <th>Class</th>
        <th>Grade</th>
        <th>Status</th>
    </tr>
    <tr>
        <td><a href="{% static 'pdf/assignmentA.pdf' %}">Assignment A</a></td>
        <td>10/23/19</td>
        <td>SW110</td>
        <td>96% (A)</td>
        <td>Graded</td>
    </tr>
    <tr>
        <td><a href="{% static 'pdf/assignmentB.pdf' %}">Assignment B</a></td>
        <td> </td>
        <td>SW201</td>
        <td> </td>
        <td>Not submitted</td>
    </tr>
    <tr>
        <td><a href="{% static 'pdf/assignmentC.pdf' %}">Assignment C</a></td>
        <td>09/22/21</td>
        <td>SW310</td>
        <td> </td>
        <td>Pending</td>
    </tr>
</table>
{% endblock %}